<div class="products-container">
    <ul class='products'>
        <li>
            <h2 class='title'>SHOP</h2>
        </li>
        <li class="products" *ngFor="let product of products; let i = index">
            <img src="{{ product.imageUrl }}" height="100" />

            <!-- <a class="product" routerLink="/product/{{ product._id }}"> -->
            <h5 class="product-name">{{ product.name }}</h5>
            <!-- </a> -->
            <p>${{ product.price }}</p>
            <p>{{ product.description }}</p>

            <button (click)="handleClick()" class="snipcart-add-item" attr.data-item-name="{{ product.name }}" attr.data-item-id="{{ product._id }}" attr.data-item-image="{{ product.imageUrl }}" attr.data-item-price="{{ product.price }}" attr.data-item-description="{{ product.description }}"
                attr.data-item-url='/.netlify/functions/postJsonOutput' data-item-url='/.netlify/functions/postJsonOutput'>
                    Add to cart
                </button>

        </li>
    </ul>

</div>