<div class="landing">
    <!-- <div class="shop-link">

        <a class="shop-link" routerLink="/shop">
            Click to shop selection
        </a>
    </div> -->
</div>
<div id="content" class="content-container">
    <div class="about">
        <span class="title">
            <h1>ABOUT US</h1>
        </span>
        <p>For over ten years Hobo Seafood has provided the highest quality "wild caught" shrimp to their customers.  Owned and operated by Lee and Madge Williams Hobo Seafood is a family company that embodies the American entrepreneurial spirit.  We started
            out with just one shrimp trawler and today it's fifteen trawlers and a distribution site.  In addition, Hobo Seafood employs nearly 100 people in rural Hyde County, NC.</p>
    </div>
    <div class="contact">
        <div class="contact-links">
            <ul>

                <li>
                    <i class="fa fa-lg fa-phone"></i>&nbsp;


                    <span>(252) 926-1415</span>
                </li>
                <li>
                    <a href="mailto:josh.friese@gmail.com?subject=Contact Us">
                        <i class="fa fa-envelope"></i>&nbsp;


                        <span>Email Us</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/Hobo-Seafood-Market/1815643578674744">
                        <i class="fa fa-lg fa-facebook"></i>&nbsp;&nbsp;

                        <span>Facebook</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>