<div class="landing">
    <app-products-component></app-products-component>
</div>
<div id="content" class="content-container">
    <div class="about">
        <h1>ABOUT US</h1>
        <br/>
        <p>For over ten years Hobo Seafood has provided the highest quality "wild caught" shrimp to their customers.  Owned and operated by Lee and Madge Williams, Hobo Seafood is a family company that embodies the American entrepreneurial spirit.
            <br/>
            <br/> We started out with just one shrimp trawler and today it's fifteen trawlers and a distribution site.  In addition, Hobo Seafood employs nearly 100 people in rural Hyde County, NC.</p>
        <div class='info'>
            <h2>275 Landing Rd</h2>
            <h4>Swanquarter, NC</h4>
            <h4>27885</h4>
            <ul class="hours">
                <li>
                    <span class="day">Monday - Saturday</span>
                    <span class="times">7AM - 5PM</span>
                </li>
                <br/>
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="contact-links">
            <ul class="contact-links">

                <li>
                    <i class="fa fa-lg fa-phone"></i>&nbsp;


                    <h1>(252) 926-1415</h1>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/Hobo-Seafood-Market/1815643578674744">
                        <i class="fa fa-lg fa-facebook"></i>&nbsp;&nbsp;

                        <h1>Facebook</h1>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div id="hidden">
        <p id="output"></p>
    </div>
</div>
