<div class="landing">
    <!-- <div class="shop-link">

        <a class="shop-link" routerLink="/shop">
            Click to shop selection
        </a>
    </div> -->
</div>
<div id="content" class="content-container">
    <div class="about">
        <span class="title">
            <h1>ABOUT US</h1>
        </span>
        <p>Lorem ipsum dolor amet aesthetic put a bird on it green juice iceland four dollar toast unicorn craft beer scenester before they sold out flexitarian polaroid four loko shoreditch. Vape mixtape ramps, trust fund brooklyn sustainable af snackwave
            fashion axe. Cliche palo santo unicorn mlkshk. Cred swag try-hard next level subway tile shabby chic. Small batch marfa asymmetrical chicharrones, truffaut pickled meh post-ironic man braid tacos. Four dollar toast fingerstache semiotics lyft
            kinfolk bicycle rights normcore intelligentsia, try-hard cold-pressed.</p>
    </div>
    <div class="contact">
        <div class="contact-links">
            <ul>

                <li>
                    <i class="fa fa-lg fa-phone"></i>&nbsp;


                    <span>(252) 926-1415</span>
                </li>
                <li>
                    <a href="mailto:josh.friese@gmail.com?subject=Contact Us">
                        <i class="fa fa-envelope"></i>&nbsp;


                        <span>Email Us</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/pages/Hobo-Seafood-Market/1815643578674744">
                        <i class="fa fa-lg fa-facebook"></i>&nbsp;&nbsp;

                        <span>Facebook</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>