<div class='main'>
    <!-- Menu Bar -->

    <!-- Header -->
    <div [ngClass]="{'header':true, 'header--big':!isShrunk, 'header--small':isShrunk}">
        <a href="/">
            <h1>HOBO ⚓ SEAFOOD</h1>
        </a>
        <a href="#" class="snipcart-checkout checkout">
            <div class="snipcart-summary">
                <h2>
                    <i class="fa fa-shopping-cart"></i> (<span class="snipcart-total-price">0</span>)</h2>
            </div>
        </a>
    </div>

    <!-- Container -->
    <div class="container">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <div class="footer">
        <span>Hobo Seafood © 2018 - Developed by Josh Friese, powered by
        <a href="https://snipcart.com/">Snipcart</a>,
        <a href="https://netlify.com">Netlify </a> and
        <a href="https://www.sanity.io/">Sanity.io</a>.</span>
    </div>
</div>