@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: "haymakerregular";
    src: url("../assets/fonts/haymaker-webfont.eot");
    src: url("../assets/fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/haymaker-webfont.woff") format("woff"), url("../assets/fonts/haymaker-webfont.ttf") format("truetype"), url("../assets/fonts/haymaker-webfont.svg#haymakerregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blanchcaps_inline';
    src: url("../assets/fonts/blanch_caps_inline-webfont.eot");
    src: url("../assets/fonts/blanch_caps_inline-webfont.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/blanch_caps_inline-webfont.woff") format('woff'), url("../assets/fonts/blanch_caps_inline-webfont.ttf") format('truetype'), url("../assets/fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format('svg');
    font-weight: normal;
    font-style: normal;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-font-smoothing: antialiased;
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header,
section,
footer {
    margin: 0;
    padding: 1px;
}

h1 {
    font-family: 'blanchcaps_inline', sans-serif;
    text-align: center;
    font-weight: normal;
    margin: 0;
    font-size: 3em;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: .9;
    font-weight: normal;
    font-family: 'haymakerregular', sans-serif;
}


/* MENU BAR */

.menu-bar {
    display: flex;
    flex-direction: row-reverse;
    background-color: #000;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1.5em;
}

.menu-links {
    top: 0;
    font-size: .9em;
}

.menu-links ul {
    overflow: initial;
    max-height: 2em;
}

.menu-links li {
    float: left;
}

.menu-links li:not(:last-child) {
    border-right: solid 1px #fff;
    /* This will not give border to last li element */
}

.menu-links a {
    position: relative;
}

.menu-links li:last-child a:after {
    display: none;
    border: 0;
}

.menu-links a:link,
.menu-links a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}


/* HEADER */

.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #000 !important;
    background-color: rgba(255, 255, 255, 0.8);
    right: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.header a {
    text-decoration: none;
    padding-bottom: 1em;
}

.header--big {
    height: 11%;
    -webkit-box-shadow: 0.5px 0.9px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0.5px 0.9px 5px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.header--small {
    height: 6%;
    font-size: .5em;
    position: fixed;
    margin-top: 0em;
    background: white;
}


/* LANDING */

.shop-link {
    position: fixed;
    z-index: 1;
}

.landing {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("https://hdwallsource.com/img/2014/8/fishing-boat-wallpaper-41865-42851-hd-wallpapers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.landing a {
    padding: .5em;
    background-color: rgba(245, 181, 23);
    font-size: 1em;
    z-index: 0;
    float: right;
    top: 75%;
    right: 10%;
    text-decoration: none;
    text-transform: uppercase;
}

.about {
    padding: 1em;
    position: relative;
    width: 50%;
    margin-top: 3em;
}

.info {
    border: .4em black solid;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.info h2,
h4 {
    line-height: .3;
}

.contact {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    border-left: .1em solid black;
}

.contact-links {
    width: 70%;
    margin: 0 auto;
    display: inline-block;
    line-height: 1.5;
}

.hours {
    text-align: center;
}

.day {
    float: left;
    font-weight: 900;
}

.times {
    float: right;
}

.hours:after {
    content: '';
    width: 100%;
}

.title {
    font-size: 3em;
}

.content-container {
    height: 90%;
    top: 100%;
    margin-top: 0em;
    background-color: rgba(18, 89, 203, 0.031);
    background: linear-gradient(rgba(18, 89, 203, 0.8), rgba(60, 92, 92, 1));
    display: flex;
    flex-flow: row;
    z-index: 9999;
    padding: 3em 0em 3em 3em;
}


/* PRODUCTS */

.products-wrapper {
    width: 100%;
    margin: 0 auto;
    background-image: url("https://hdwallsource.com/img/2014/8/fishing-boat-wallpaper-41865-42851-hd-wallpapers.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.products-container {
    margin: 0 auto;
    height: 90vh;
    width: 50%;
    margin-top: 0em;
    z-index: 9999;
    padding: 3em 0em 3em 0em;
    display: flex;
    justify-content: space-around;
    align-items: left;
    overflow: hidden;
}

div.products {
    width: 30%;
    height: auto;
    margin: 0 auto;
}

ul.products {
    width: 80%;
    margin-top: 6em;
    background-color: white;
    padding: 1em 4em 2em 2em;
    border: .5em black solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

li.products {
    border-bottom: 2px solid #000;
    border-top: 1px solid #000;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 5px;
    clear: both;
    overflow: hidden;
}

.products .product-name {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.products .price {
    font-size: 1.4rem;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.products img {
    float: left;
    width: 150px;
    margin-right: 1rem;
}


/* PRODUCT */

.product:hover {
    background-color: #CFD8DC;
}

.product-description {
    width: 400px;
    padding: 25px;
    margin: 25px;
    background-color: #CFD8DC;
    font-size: 20px;
}

.product-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* FOOTER */

.footer {
    background-color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    color: black;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .8em;
}

.footer a {
    color: rgb(130, 130, 130) !important;
    text-decoration: none;
}

button,
input[type=submit] {
    text-transform: uppercase;
    background: none;
    border: 1px solid #000;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    z-index: 2;
}

button[disabled],
input[type=submit][disabled] {
    color: #d12028;
    background: #fff;
    border-color: #d12028;
    -webkit-transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
    transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
}

button[disabled]:hover,
input[type=submit][disabled]:hover {
    color: #d12028;
    cursor: not-allowed;
}

button[disabled]:after,
input[type=submit][disabled]:after {
    display: none;
}

button:after,
input[type=submit]:after {
    content: '';
    z-index: -1;
    display: block;
    background: #000;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
    color: #fff;
    outline: 0;
}

button:hover:after,
input[type=submit]:hover:after,
button:focus:after,
input[type=submit]:focus:after {
    height: 100%;
}


/* SNIPCART */

.snipcart-overwrite #snipcart-header #snipcart-title {
    color: #50bcd0;
    background: url('../../favicon.ico') no-repeat 0 center;
    padding-left: 60px;
}

.snipcart-summary {
    margin-left: 200px;
    padding-top: 5px;
    z-index: 9999;
}

.product-name {
    font-size: 25;
    font-weight: bold;
    text-transform: uppercase
}

.snipcart-checkout:hover {
    color: white;
    text-decoration: underline;
}

.snipcart-add-item {
    background-color: white;
    font-size: 18px;
    color: black;
    border: 1px black solid;
    border-radius: 3%;
}

.snipcart-add-item:hover {
    box-shadow: 0px 3px 5px #888888;
    cursor: pointer;
}

.snipcart-add-item:active {
    box-shadow: 0 0 0 0;
}


/* MEDIA QUERIES */


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .products-container {
        width: auto;
    }
    h1 {
        font-size: 2em;
    }
}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .products-container {
        width: auto;
    }
    h1 {
        font-size: 2em;
    }
    /* .header {
        font-size: .9em;
    }
    .header--big {
        height: 10%;
        margin-top: 1.5em;
    }
    .header--small {
        height: 5%;
        font-size: .3em;
    } */
}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 520px to 767px
*/

@media (min-width: 520px) and (max-width: 767px) {
    .products-container {
        width: auto;
    }
    .content-container {
        padding: 0em 0em 2em 2em;
        font-size: .8em;
    }
    h1 {
        font-size: 2em;
    }
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 519px) {
    .landing {
        background-image: none;
    }
    ul.products {
        border: 0px;
    }
    .products-container {
        width: auto;
        font-size: .8em;
        height: 100%;
    }
    .content-container {
        padding: 5em 1em 4em 2em;
        flex-direction: column;
        font-size: .7em;
    }
    h1 {
        font-size: 2em;
        padding: .5em;
    }
    .title {
        font-size: 2em;
    }
    .header {
        justify-content: center;
        font-size: .5em;
        padding-top: 2em;
    }
    .header--small {
        height: 4%;
        font-size: .2em;
    }
    .about {
        width: 80%;
        margin: 0 auto;
    }
    .info {
        font-size: .7em;
        border: 0;
    }
    .contact {
        width: 100%;
        margin: 0 auto;
        border: 0;
    }
    .footer {
        font-size: .3em;
    }
    .contact-links {
        line-height: 1;
    }
}